[2015-09-28 13:46] rruebner opened #6 "[website_seo] Add SEO url level and parent changes when adding / updating the menu entries in the frontend and backend"
# Goal

If you add or update the odoo menu in the backend and frontend you can also move menu entries. Means you can create a hierarchical menu entries. This hierarchy updates should also be applied to our seo_parent and seo_url_level fields
## ToDo
- update the website_seo module and provide a PR for the branch 8.0-wip-website-seo
- update seo_parent and seo_url_level of the related view when upd

[2015-09-29 18:48] kaerdsar opened #7 "[website_seo] Managing of the SEO Urls should be completely possible in the promote panel"
# Goal

The website_seo module adds the field seo_url to website.seo.metadata model. When you click on Promote (in Website Builder) and see the 'Promote this Page' window you should be able to edit the field seo_url value. Something similar to field website_meta_robots from website.seo.metadata model must be done.
# ToDo
- Inherit template view website.seo_configuration and add the field
- Check j

[2015-09-29 19:02] jholze commented on #7
@rruebner would be nice if you could add german translations for each ticket. Thanks

[2015-09-30 07:50] jholze commented on #7
:+1:

[2015-10-01 07:23] rruebner opened #8 "[website_seo_blog] Update seo url handling of module website_seo_blog that it will work like in the module website_seo"
# Goal

The current seo url implementation in the module website_seo_blog has to be updated that the seo url handling is the same like in the module website_seo. These updates are necessary to remove the fix part "blog-" before the blog and blog post urls. In addition we solve problems with translations.
## ToDo
- remove controller funtions seo_blog() and seo_blog_post() and replace them with an o

[2015-10-01 07:26] rruebner opened #9 "[website_seo] [website_seo_blog] Add / Update unit tests if possible"
# Goal
- Update existing unit tests if needed
- Add possible new unit tests
- If it is possible try to add one or two unit tests for controller funtions

[2015-10-01 07:33] rruebner commented on #6
:thumbsup: code looks fine, I will merge it at the weekend

[2015-10-01 07:34] rruebner commented on #7
:thumbsup: code looks fine, I will merge it at the weekend

[2015-10-02 21:41] kaerdsar commented on #9
I add some test for seo url handling in path_page controller method. I used url_open from HttpCase and with the response I check if the code is between 200 and 300. A bad url must return code > 400 but when I tested Odoo return response with code 200 even though the url does not have page to show. Then the test is not completely fine.

To solve the problem:
One option is to find out if the respons

[2015-10-05 07:41] rruebner commented on #6
@kaerdsar After some additional testing I run into some troubles
- if you create a new page via the frontend menu the seo data isn't added correctly (e. g. the seo_url_level is -1)
- if I drag&drop a menu entry via the frontend menu the menu url is not updated

[2015-10-05 07:45] #7 closed, assigned to nobody

[2015-10-05 07:45] #8 closed, assigned to nobody

[2015-10-05 08:07] rruebner opened #10 "[website_seo] Language change in frontend leads to 404 page with new seo urls"
# Problem

If you create a new page and add a seo url in at least two languages the language change on this page won't work. You will get a 404 error.
# Steps to reproduce
- install a second language
- create a new page or use an existing page
- add a seo url for english and your new installed language (seo url's should differ, e. g. "contact" and "kontakt")
- open this page in the frontend
- chan

[2015-10-05 08:08] rruebner commented on #9
@kaerdsar At the moment I have no idea but I will look at it.

[2015-10-05 15:45] kaerdsar commented on #6
@rruebner I only update menu url if the corresponding view has seo_url setted. Maybe we also can add a default seo_url for new views.

[2015-10-06 07:31] rruebner commented on #6
@kaerdsar The troubles are gone :) but the seo_url_level of the view still isn't changing when I drag&drop a menu entry via the frontend menu. And the menu url still isn't updated too (see my other comment in the commit https://github.com/kaerdsar/website/commit/5bccec595eb2971474ae3345cae93926b8d57e51)

[2015-10-07 15:52] kaerdsar commented on #10
This problem also appears with blog and blog post pages. We have to update the url_for_lang method to cover website_blog seo urls.

[2015-10-08 13:50] jholze opened #12 "Add multi-language feature for meta robots settings"
### current behavior

the integrated meta robots feature has no support for multiple languages [check my attached video](https://www.youtube.com/watch?v=184qqXuhiyE&feature=youtu.becapture)
### expected behavior
- setup the meta robots should work for multi languages too
- should work for static cms pages
- should work on blog root page
- should also work for different blogs
- should work for each

[2015-10-08 14:03] jholze opened #13 "change generation for url language code from en_US to en"
### current behavior

The language code used in the urls is like en_US, de_DE etc. I found a blog post https://myodoo.de/de/blog/neuigkeiten-1/post/seo-optimierungen-fur-odoo-8-26 which also changes the behavior. We should discuss if we need to add a new field or if we can use the iso code, which is still used to generate the hreflang attribute eg.

`<link rel="alternate" hreflang="en" href="http:

[2015-10-09 12:57] kaerdsar commented on #13
I read the conversation in https://github.com/odoo/odoo/pull/3965 and tested the proposal from @88kbbq but with a little difference. I didn't add a new field for url_code, I used the iso_code field. According to this https://support.google.com/webmasters/answer/189077?hl=en, the iso_code is a valid code for url.

Then I tried to check about @mart-e warning: "If you change the url code, you lose ev

[2015-10-09 13:39] 88kbbq commented on #13
Google does not recommend underscored in URLs.
https://support.google.com/webmasters/answer/76329?hl=en
This value should be completely customizable, not set to a iso or locale
code. Remember, this isn't the 00's; Odoo needs current shop owner to
migrate platforms. Most businesses now either have a facebook, spotify,
wordpress, or magento site, and a new comer needs to be better, or at least
compa

[2015-10-09 13:49] kaerdsar commented on #13
Thanks for your post. Right, iso_code also uses underscore. We can add the new field you used before. Anyway the solution can be applied with our website_seo module. In this solution we don't need mass migration, the module converts url_code to code just before using for database. The existing translation will work too. What do you think?

I'm going to restore the url_code field in next commit.

[2015-10-09 18:28] jholze commented on #13
Hey, i think a new field eg. short_code or url_code will be better. @88kbbq you are right. Our plan is to discuss all of our changes with the odoo team, because SEO improvements are really needed in odoo 8 and 9.

[2015-10-10 00:13] 88kbbq commented on #13
Very excited to see movement on Odoo CMS SEO. Hopefully this functionality will extend into modules like blog, e-commerce, forum, events, etc. It is the single point of failure in our migration plan. For multilingual sites, a subdomain/subfolder option should exist. I've installed v9 and see some great improvements; very hopeful for a 2016 migration.

[2015-10-15 13:30] jholze opened #14 "Possibility to configure meta robots for blog tags pages"
## current behavior

all dynamic pages which are rendered by clicking on a blog tag are accessible for search bot. This is not good, because this generates a lot of not relevant links for same blog posts. At the end, the ranking of a website suffers.
## expected behavior

it should be possible to configure the meta robot setting like we have integrated for the CMS and blog post to define the value

[2015-10-15 13:53] jholze opened #15 "add support for canonical tag"
## Description

Basically, it makes sense to add the canonical tag on each page of a website that each page points to itself. This prevents unexpected errors and incorrect links. If duplicate content exists the canonical tag points always to the original page.
### Reason

The Google search engine rates duplicate content negative because no relevant value exists for the users / internet.

Example

[2015-10-15 14:00] jholze opened #16 "Add support for 301 url redirect after the SEO URL Has changed"
## Description

If a SEO URL changes (automatically or manually) a 301 redirect to the new URL must be provided.
### Reason

If we haven't a 301 redirect the old URL is no longer accessible and the user is redirected to a 404 page. In addition the article is available twice in the Google search engine which is bad. Result: the Google ranking for the website is decreased.
## current behavior

When

[2015-10-16 07:37] fczaja opened #17 "improve SEO Handling for tags"
## Description

All tags should have their own meta robots value.

[code]

The reason is that we want to increase the number of high-quality pages and reduce bad content.
## current behavior

Currently all Tags in English and German are indexed in Google, so we have a lot of unnecessary pages in the Google search. Example, we have many tags with only one post in our website, these tag pages must n

[2015-10-16 09:15] fczaja opened #18 "improve SEO Handling for html lang"
## Description

The HTML lang attribute should be changeable by the shop owner, so he can use the language-country notation (e.g. en-US) or the language notation (e.g. en) per language.
### Reason

Google decides by the HTML lang attribute where in the world the contents of the website are found in the Google search.
## current behavior

For example the default HTML lang attribute for english page

[2015-10-16 09:36] fczaja opened #19 "Note Field - Meta Description & Title"
## Description

We need two information fields next to the input fields for the title tag and the meta description to show a declaration of the two elements in the frontend promote panel.
### Reason

We want to explain the two SEO features to inexperienced users because they can't make a good SEO work without useful information.
## current behavior

There is currently no explanation to see.
## exp

[2015-10-16 10:59] #6 closed, assigned to nobody

[2015-10-16 11:00] #9 closed, assigned to nobody

[2015-10-16 11:01] #10 closed, assigned to nobody

[2015-10-16 11:01] #12 closed, assigned to nobody

[2015-10-16 11:02] #13 closed, assigned to nobody

[2015-10-16 19:33] kaerdsar commented on #14
This commit also include the possibility to setup meta_robots for each tag and blog.

We still need to check what is the correct way for tag url:
- /[blog-seo-url]/tag/[tag-seo-url]
  or
- /[blog-seo-url]/[tag-seo-url]

[2015-10-19 06:51] fczaja commented on #14
We take this URL

/[blog-seo-url]/[tag-seo-url]

[2015-10-20 17:39] kaerdsar commented on #18
In the current solution there is a new field for model res.lang (language) named short_code. You can access in the systems by Settings / Translations / Language. This field is used to improve SEO URL, there is a closed issue related: https://github.com/blooparksystems/website/issues/13.

When you set short_code with "en" then HTML lang also use that value. Then you can decide what HTML lang to use

[2015-10-20 17:43] jholze commented on #18
:+1:  the current implemented solution is fine for me. I think we need to have the runbot running, because it will be easier for testing. Would be also nice to have a link to the related build in a ticket like in jira / bamboo

[2015-10-20 21:42] kaerdsar commented on #15
I added the canonical tag in link into HEAD element in view. I have a couple of questions:
1. Now you can see:
   -- link rel="canonical" ....
   -- link rel="alternate" hreflang="en" ...
   -- link rel="alternate" hreflang="de" ...
   Is this correct? Do we need a link for canonical and one link for each language?
2. If the URL for language "en" is different that the URL for language "de", what m

[2015-10-26 08:29] fczaja commented on #15
1. The canonical link element must be available for each language version. The two alternate hreflang must be in both language versions are available.
2. DE and EN have different URL in the canonical link element so they show in their own language version.

[2015-10-26 20:35] #14 closed, assigned to nobody

[2015-10-26 20:35] #17 closed, assigned to nobody

[2015-10-26 20:36] #18 closed, assigned to nobody

[2015-10-27 10:31] fczaja opened #20 "[IMP] [website_sale] Improve shop urls to have a better SEO url structure"
## Description

In the odoo shop (module website_sale) all unnecessary url elements must be removed in order to have an efficient SEO url structure. This include "shop, product, category". Furthermore, this include "numbers" that are append behind the category and product url.
## Reason

Google considers content which is located directly behind the domain as important. Contents which are deeply ne

[2015-11-11 10:07] jholze commented on #16
@kaerdsar i added the label v9, should create a ticket to port these changes to v8 or how you handle it ?

[2015-11-11 10:26] fczaja opened #22 "Avoid editing of the SEO Field on website homepage"
## SEO URL field must be removed from the Home page

Impacted versions:
- 9.0
### Goal

The home page has no URL, so the "SEO URL" Promote / Optimize SEO field should be hidden or not rendered. Should be also work for multi websites in one DB - should be tested
### Current behavior:

Currently, the "SEO URL field" on the home page can be seen and it can be a URL are entered. Plotting a URL to the

[2015-11-11 11:05] fczaja opened #23 "update google like link preview with new SEO url value"
Impacted versions:
  - 9.0
## goal

In Promote panel below the SEO field of point 3 "Preview" is here the new URL should change according to the URL will be displayed.
### Steps to Reproduce:

Go to Promote / Optimize SEO
Give a new URL in the "SEO URL box" a
Now under point 3 "Preview" the old URL
### Current behavior:

Currently the URL is not updating in the google like preview section, when a

[2015-11-11 19:13] kaerdsar commented on #16
Now a page refresh after change seo_url in Promote Panel. Also you can use the old seo_url and the system redirects to the new one. The module saves the old seo_url in order to can redirect, it is not depends of cache.

[2015-11-11 20:20] jholze commented on #16
:+1:

[2015-11-11 20:23] jholze commented on #16
@rruebner  maybe you could do a short review tomorrow. Ne need to merge the update to two of our projects

[2015-11-12 11:12] fczaja opened #24 "SEO URL does not work complete - each URL must be adjust separately"
Impacted versions:
- 9.0
## Goal

Each time has a URL in the "SEO URL box" to change his and replace the old URL by 301.
Simultaneously, the URL of the English language version will be adapted by the new URL. The URLs of the languages German and English must be adjust separately.
### Current Behavior 1:

Once the URL has been altered in a successful product in the German language version, the Engl

[2015-11-12 12:56] rruebner opened #25 "Installing the website_seo module is not possible with the latest v9"
# Problem

You can't install the website_seo module with the latest v9. You will get a parse error.
# Steps to reproduce
- create a new database with the latest v9
- try to install the website_seo module and you get the following error

[code]
# Expected behaviour
- the website_seo module should be installable with the latest v9 without errors
# Additional information

If you commented out the fol

[2015-11-12 13:03] rruebner opened #26 "Uninstalling the module website_seo is not possible"
# Problem

If you installed the website_seo module you can't uninstall it later.
# Steps to reproduce
- create a new database with the latest v9
- install the website_seo module (see #25 "Additional information" for more information)
- try to uninstall the website_seo module and you get the following error

[code]
# Expected behaviour
- the website_seo module should be uninstallable at any time
#

[2015-11-12 13:10] rruebner opened #27 "If the website_seo module is installed you can't edit backend and frontend views anymore"
# Problem

If the website_seo module is installed you can't edit backend and frontend views anymore.
# Steps to reproduce
- create a new database with the latest v9
- install the website_seo module (see #25 "Additional information" for more information)
- activate the developer mode in the backend and go to Settings -> Technical -> User Interface -> Views
- open any view, edit something (it doesn'

[2015-11-12 13:23] rruebner commented on #16
If #25, #26 and #27 are finished I will do the review.

[2015-11-12 13:24] rruebner commented on #22
If #25, #26 and #27 are finished I will do the review.

[2015-11-12 22:09] kaerdsar commented on #24
According to this issue if you change the seo_url for a page in German via the Promote Panel, then the seo_url for the page in English must change too. But if we allow to translate seo_url  this is not supposed to change English seo_url when changes German seo_url. You have to edit the URL for each language unless it doesn't have value for other languages. If is correct this, The 'Current Behavior

[2015-11-13 07:32] jholze commented on #24
@kaerdsar i think no, because the SEO urls are different for each language and they should be detached. If you change e.g. the name of a german Page like contact us or a basic cms page, it is not always necessary that the title for one of the other language should change too.

One other thing from my side, you need to check how the suite works with more the 2 languages ;)

[2015-11-13 07:35] fczaja commented on #24
Hi Cesar,

If a new URL in the "SEO URL Field" is entered in the German area, then the
English URL is changed. If a new URL will be inserted in the English
section ("SEO URL Field") then has the priority for the English area.

Freddy

2015-11-12 23:09 GMT+01:00 Cesar Lage <notifications@github.com>:

--

Freddy Czaja
Leiter Online-Marketing SEO

E-Mail: fczaja@bloopark.de

bloopark systems GmbH &

[2015-11-13 07:40] jholze commented on #24
Maybe we can implement the SEO fields for multiple languages like odoo did for the keywords. That we have in general a language switcher and all related fields changing based on the selected language.

![odoo_9_promote_keyords](https://cloud.githubusercontent.com/assets/6851586/11141082/f2552c34-89e1-11e5-8dec-6afb58525d02.png)

[2015-11-13 10:55] rruebner commented on #25
Review was fine :+1:, installation of the website_seo module is possible again

[2015-11-13 10:55] #25 closed, assigned to nobody

[2015-11-13 10:56] rruebner commented on #27
Review was fine :+1:, editing backend and frontend views with installed website_seo module works again

[2015-11-13 10:56] #27 closed, assigned to nobody

[2015-11-13 10:59] rruebner commented on #26
:x: Uninstalling of the module website_seo is still not possible, I tried it in the SNODOO project, the same error will be raised

[2015-11-13 11:13] rruebner commented on #22
@kaerdsar Your solution works for "/" but not for the default odoo homepage route "/page/homepage/".
I don't know if there is a better solution than to exclude simply "/page/homepage/" next to "/". Maybe you can use the key field "website.hompage" of the ir.ui.view record in some way.

[2015-11-13 11:26] rruebner commented on #15
@kaerdsar Please see my comment in the first commit. The rest is fine.

[2015-11-13 12:09] rruebner commented on #26
Sorry, my fault. I found the PR.

[2015-11-13 12:40] rruebner commented on #19
@kaerdsar So far so good. Please update the english notes in the data files, I updated the texts in the issue description. In addition provide the german translation too.

[2015-11-13 12:58] rruebner opened #29 "Installing the website_seo_blog module is not possible with the latest v9"
# Problem

You can't install the website_seo_blog module with the latest v9. You will get a parse error.
# Steps to reproduce
- create a new database with the latest v9
- try to install the website_seo_blog module and you get the following error

[code]
# Expected behaviour
- the website_seo_blog module should be installable with the latest v9 without errors
# Additional information

It seems it i

[2015-11-13 13:03] #26 closed, assigned to nobody

[2015-11-13 14:22] kaerdsar commented on #22
@rruebner now it also works with '/page/homepage', you can see it in the commit https://github.com/blooparksystems/website/commit/34e271a66a1ae9d3aeb7a890b553341fe9089859

[2015-11-13 14:34] rruebner commented on #15
Review was fine :+1:

[2015-11-13 14:34] #15 closed, assigned to nobody

[2015-11-13 20:52] kaerdsar commented on #24
I created a pull request with a proposal about the image posted by @jholze. The idea is that we can edit SEO variables from the default language page for all languages. When you select a language all the fields reload to get the value for the language selected.

Also I think we must change the Promote Panel interface in order to organize better the elements. Maybe we can put the language selector

[2015-11-13 21:07] kaerdsar commented on #29
The fixes for issues #25 and #26 also works for this issue. Now is working.

[2015-11-13 21:48] kaerdsar commented on #23
The google preview link works fine now. I made some update to can edit SEO variables in alternate languages in the same Promote Panel window.

I have a question:
Our default language is German and English is the other language. If we edit seo_url field for English version and set 'service_seo_en', google preview link shows this: http//localhost:8069/service_seo_en. But the correct URL is: http//lo

[2015-11-13 21:58] kaerdsar opened #31 "Change parent for menu related to a view with seo_url doesn't work."
Impacted versions:
- 9.0
## Goal

Each time a menu it's moved from parent the related url and view seo_url must be updated.
### Current Behavior 1:

When you change the menu parent of a menu related to a view with seo_url get 404 error. Later go for Homepage and go to the link of the menu and it works, but translation is not updated.

Steps to Reproduce:

Go to Content / New Page (eg: Products)
Go

[2015-11-16 12:36] jholze commented on #23
Hi Cesar, just to clarify

we can currently run domain.com/company  (which is en) and domain.com/unternehmen (which is de) with the SEO Suite ? or do we have the link without the language code just for the default website language ? Normally further languages should have the short code like /en/....url...like you did in #13 - so the google preview should also contain the language short code, but n

[2015-11-16 13:07] rruebner commented on #24
@kaerdsar Hmm, if we use this proposal we should add an advice / hint that the values aren't saved when a user switch the language in the SEO promote panel part. Otherwise it will be irritating / frustrating for the user if he fills in all values for one language, switch to another language, fills in all values for this language, saves the changes and recognizes that only the last filled in values

[2015-11-16 13:10] rruebner commented on #24
@kaerdsar Furthermore the META description is not updated in the promote panel preview when I switch the language. Only after I filled in something in the META description the preview changed.

[2015-11-16 13:19] rruebner commented on #19
Review was fine :+1:. If the related pull request is created it will be merged.

[2015-11-16 13:21] rruebner commented on #29
Nope, #25 and #26 didn't fix it. website_seo_blog can't be installed.

[2015-11-16 13:23] rruebner commented on #22
Review was fine :+1:. Code changes were already merged.

[2015-11-16 13:23] #22 closed, assigned to nobody

[2015-11-16 13:55] rruebner commented on #16
@kaerdsar You saved the redirect URLs in a char field. Do you know if the 255 character limitation is used when you don't specify it in the fields.Char definition? If the limitation exists we shouldn't use a char field for the old URLs. Instead of a char field we should use a relation field like one2many for them.

[2015-11-16 13:56] kaerdsar commented on #23
We have the link without the language code just for the default website language. Your example works in this way (default language de):
- domain.com/en/company
- domain.com/unternehmen

[2015-11-16 14:06] jholze commented on #23
:+1:

[2015-11-16 19:35] kaerdsar commented on #29
Indeed, you get the error installing website_seo_blog in Supernova project. There is conflicts with blog views because theme_supernova creates a set of new views for blog models in website and website_seo_blog tries to inherit from webiste_blog views. When you install first theme_supernova the blog views structure changes and then website_seo_blog can't find the xpath elements in parent views.

I

[2015-11-16 20:57] kaerdsar opened #32 "Port 301 URL redirect after SEO URL has changed to v8"
## Goal

When we change a URL in the backend Odoo should automatically add a 301 redirect to the new URL.

Related issue in v9: #16

[2015-11-16 21:01] kaerdsar opened #33 "Update text and translations for SEO tips in Promote Panel"
## Goal

Get some tips in Promote Panel dialog when you are editing SEO information.

Related issue in v9: #19

[2015-11-16 21:11] kaerdsar opened #34 "Port avoid editing SEO URL field in Homepage to v8"
## Goal

The home page has no URL, so the "SEO URL" Promote / Optimize SEO field should be hidden or not rendered. Should be also work for multi websites in one DB - should be tested

Related issue: #22

[2015-11-16 21:13] kaerdsar opened #35 "Port update google link preview with new SEO URL value to v8"
## Goal

In Promote panel below the SEO field of point 3 "Preview" is here the new URL should change according to the URL will be displayed.

Related issue in v9: #23

[2015-11-16 21:16] kaerdsar opened #36 "Port SEO URL improvements to v8"
## Goal

The website must reload with new URL after save the modifications to SEO variables. The URLs of the languages German and English must be adjust separately.

Related issue in v9: #24, #31

[2015-11-17 13:01] rruebner commented on #24
@kaerdsar Please update the german hint text to: "Dieses Formular wird nur die Konfiguration für die ausgewählte Sprache speichern. Wenn Sie die Sprache wechseln, bevor Sie die SEO-Informationen speichern, gehen diese Daten verloren."
And change the german translations to the english ones in website_seo.pot.

[2015-11-17 13:07] #19 closed, assigned to nobody

[2015-11-17 13:08] #23 closed, assigned to nobody

[2015-11-17 13:18] rruebner commented on #31
Review was fine :+1:

[2015-11-17 13:18] #31 closed, assigned to nobody

[2015-11-17 13:25] rruebner commented on #29
Closed because this issue was related to a specific internal project.

[2015-11-17 13:25] #29 closed, assigned to nobody

[2015-11-17 14:48] jholze opened #38 "501 error when changing the seo_url of blog.blog model to have a url /blog"
## steps to reproduce
- open website and go to default blog page in default language
- open the promote panel and change the SEO Title to /blog
- odoo renders an 501 error
- when clicking back in the browser and save the old SEO title value, everything works fine only if the seo url is not /blog
## traceback

[code]

[2015-11-17 14:53] kaerdsar commented on #38
What URL did you try to set?

[2015-11-17 16:31] jholze commented on #38
i was not done ;) - i tried the /blog because it is the best url you can have (from seo perspective), but i think the issue is the structure of the blog model, because it is possible to have different blogs like blog, news or another. The odoo normal behavior is like /blog/blog-1 and if we have second blog with different posts like /blog/news-1 for example.

[2015-11-17 16:54] jholze opened #39 "make SEO Title field available in "create new page" modal"
when creating new pages via the website dialog "create new page" it should be possible to enter the SEO Title as well
## criteria
- show SEO Title in create page dialog
- SEO name should automatically filled with the page title (or we directly use the value from page title to set the SEO title without showing the field ?) do you know how other cms systems are handling that ?
- when changing the SE

[2015-11-17 16:55] jholze commented on #39
@kaerdsar do you know how other systems handle SEO titles ?

[2015-11-17 16:58] kaerdsar commented on #39
Actually not, I would have to look for in other CMS or eCommerce to see how they do it.

[2015-11-17 17:06] jholze opened #40 "make it possible to use seo urls in add menu entry dialog"
When adding a menu entry by editing an existing page or by creating a page via the "add menu entry" dialog, the url source field just renders / lists the old odoo url structure like /page/... to link a page. This behavior also exists when link a text or image within the cms editor.
## current behavior
- possible urls which can be selected in url source in **"add menu entry"** dialog are based in t

[2015-11-18 12:51] jholze opened #43 "If a seo url has been changes, all related links from other pages which are pointing to this should be updated as well"
h2. current behavior
- when eg. linking a textblock to a specific page via the cms editor and the link will change later, the link within the textblock does not change
- in ticket

[2015-11-18 12:54] #24 closed, assigned to nobody

[2015-11-18 13:03] jholze opened #44 "fix some labels in SEO panel and add sublabels"
- some labels (see attached screenshot should be changes for german language)
- also add some sublabels to show the real html tag value eg. description could be like meta name="Description"  because if someone has the knowledge its more useful instead of simple labels

![seo_panel_fix_labels](https://cloud.githubusercontent.com/assets/6851586/11241693/2f8a002e-8dfd-11e5-8d45-7a6a8a31d7b8.png)

[2015-11-18 13:14] jholze opened #45 "validation for entered umlauts in website title & maybe SEO Title"
- tickets depends how we integrate the SEO Title into the dialog boxes

h2. current behavior
- when entering umlauts into the SEO url field, savîng the changes is not possible, but no visual information is shown
- this can be confused for the user
### idea 1
- we show a visual validation message that the seo title is not valid, the message should be useful and should contain the information whats

[2015-11-18 13:27] jholze commented on #32
@kaerdsar i also figured out that if you move a menu page, which is a subpage to another page as a subpage, the SEO url does not change. Can you check it

[2015-11-18 13:27] jholze commented on #32
wrong ticket :)

[2015-11-18 13:28] jholze commented on #16
@kaerdsar i also figured out that if you move a menu page, which is a subpage to another page as a subpage, the SEO url does not change. Can you check it

[2015-11-18 13:36] christophlsa opened #46 "Port website_global_session addon to v9 and Rollout"
We created the addon website_global_session for an project to allow the login into all existing websites with the same user if the user has a specific group. The task is to port this addon to a clean v9 and publish this addon in our own repository and provide it to the OCA.
- Port the addon to the clean v9
- Retest the project specific created addon website_global_session in clean odoo v8.
- Merge

[2015-11-19 10:54] #36 closed, assigned to nobody

[2015-11-19 23:22] kaerdsar commented on #44
Solved with pull request 47 and 48.

[2015-11-19 23:24] #44 closed, assigned to nobody

[2015-11-19 23:35] kaerdsar commented on #33
Updated with pull request 47 and 48.

[2015-11-19 23:38] kaerdsar commented on #34
Solved with pull request 42.

[2015-11-19 23:40] kaerdsar commented on #35
Solved with pull request 42.

[2015-11-20 00:07] kaerdsar commented on #38
I was working wit this issues. I'm not so sure about the structure. We were set SEO URL for blog in the way:
(1) /[blog-seo-url] instead of  (2) /blog/[blog-seo-url]

I understand by your comments that we prefer the second option. If you have only one blog probably is better to use /blog directly, otherwise if you have more than one blog it would be useful to have url like /blog/news and /blog/mor

[2015-11-20 10:21] jholze commented on #38
@kaerdsar i will discuss it with @rruebner on monday. He is one day off and i think he is still sleeping :)

[2015-11-23 14:36] jholze commented on #38
@rruebner @kaerdsar in the case we have two or more blog what it the problem to have urls like /blog/ and slash /news/ together ?

[2015-11-23 14:39] rruebner commented on #38
@jholze There is no problem with this case. If this issue is solved we can use /blog and /news for two blog.blog.

[2015-11-23 15:28] rruebner commented on #16
@kaerdsar The error mentioned by @jholze in the comment before doesn't exist anymore. The redirection refactoring from a char field to an one2many field also works but there is one issue.You have to take into account the language into the redirection relation. Otherwise it is possible that you can call an english url and odoo redirects to the german url.

## Steps to reproduce
1. create a new page

[2015-11-23 17:30] kaerdsar commented on #38
The url '/blog' is already used in Odoo. If we use it for a blog then overwrite the view 'website_blog.latest_blogs' where you have a view of all post per blogs. I think we must ensure the url 'blog' can't be used in the seo_url via a validation.

[2015-11-24 00:21] kaerdsar commented on #16
@rruebner I did some changes to avoid this. Anyway there is a case I think we don't need to fix. The first time you set a value to seo_url via Promote Panel for German language Odoo saves the same value for English and German, because in Odoo all default values are in English. To ensure that only exist value for German we would have to set False in English version. Because of this the first time y

[2015-11-24 10:51] #16 closed, assigned to nobody

[2015-11-24 11:13] rruebner commented on #38
@jholze Is the solution that we exclude "blog" as possible SEO url fine for you?

@kaerdsar Opening "/blog" doesn't throw the error. Still to do:
- like you suggested we need some kind of validation to ensure that nobody fills in "blog" as SEO url
- if I change the blog.blog SEO url the url in the menu entry isn't updated

[2015-11-24 14:14] jholze commented on #38
@kaerdsar After a short meeting with robert  we decided the following
1. the way odoo implements the blog is not so bad, because /blog is the main page and the blog.blog is something like a topic inside the blog eg. /tech-news & /marketing-news
2. so like robert wrote, we need some kind of validation if the user entered /blog in the SEO field.
3. we need to update how odoo generates the url's for

[2015-11-24 22:43] kaerdsar commented on #38
Added modifications to update blog seo urls. Still missing javascript validations. We didn't talk about tags, for tags I used this url:  /blog/<blog-seo-url>/<tag-seo-url>.

The pull requested is updated with the new commits.

[2015-11-25 10:10] parthivgls opened #51 "[9.0][SEO] rel=nofollow in CMS links"
option to set rel="nofollow" for links generated by CMS.

https://support.google.com/webmasters/answer/96569?hl=de

[2015-11-25 10:20] jholze commented on #51
@parthivgls thanks for joining us. I told the guys that you will help / support this free SEO project that odoo becomes more SEO friendly - rock'n roll :)

[2015-11-27 08:33] #38 closed, assigned to nobody

[2015-11-28 12:52] parthivgls commented on #51
add addition of a nofollow checkbox when inserting links in posts. Checking this will add rel="nofollow".
![example_rel_nofollow](https://cloud.githubusercontent.com/assets/2869080/11451957/007efa16-95fd-11e5-97df-ddccfb978d33.jpg)

[2015-11-28 12:55] jholze commented on #51
Haha. You are really fast. :1

[2015-11-29 16:39] fshahy commented on #20
Please correct me if I am wrong, does this issue require seo modules be installed?

[2015-11-30 12:32] jholze commented on #20
@fczaja i think it is not possible that we remove the /shop route, because a normal odoo website is not just a pure shop. We need the /shop route to access the odoo shop. Maybe when clients run their shop on a second domain, the theme can be updated in a way, that the products are loaded / rendered on the homepage, because it's just a route. I think we should skip the part for this and should conc

[2015-12-02 02:10] rafaelbn commented on #20
If you want to remove /shop route means your main page --> home is the the /shop. For this you need to create a new controller clonning the one in website_sale.

[2015-12-03 09:45] ghost commented on #20
I can not see category in urls, how can I brwose product ctegories, or see a product category?

[2015-12-03 10:43] jholze commented on #20
as i can see, odoo renders the url like http://117379-9-0-6e96da.runbot.odoo.com/shop/product/apple-wireless-keyboard-12?category=6 so we just need to remove the /shop/product/ if possible for the product detail page and the category pages are rendered like http://117379-9-0-6e96da.runbot.odoo.com/shop/category/devices-keyboard-mouse-6 we need to remove the /shop/category part, to have a url like

[2015-12-03 10:44] jholze commented on #20
by the way, the urls for subcategories should be changed as well. Current behavior is eg.

http://117379-9-0-6e96da.runbot.odoo.com/shop/category/devices-keyboard-mouse-6

but should be

http://117379-9-0-6e96da.runbot.odoo.com/devices/keyboard-mouse

[2015-12-03 12:12] ghost commented on #20
what happens if categories are recursive? like this:
domain.com/cat1-cat2-cat3
or
domain.com/cat1/cat2/cat3

[2015-12-03 12:14] jholze commented on #20
@fczaja can you answer ? I am not sure in this case

[2015-12-03 12:19] ghost commented on #20
current behaviour is first option, categories concatanated by dashes. I think this is better.

[2015-12-03 12:24] fczaja commented on #20
That's how it should be

domain.com/cat1/cat2/cat3

example
domain.com/men/pants/short-pants

[2015-12-03 12:32] jholze opened #52 "create addon for website_blog to filter blog posts"
---

[2015-12-03 13:42] Fl0rianFischer commented on #52
# Goal

For an ongoing project we need an addon that can filter blog posts in the blog post overview by three different criteria:
- blog post count per page
- filter by year
- filter latest vs. oldest articles

# Criteria
- implement filters at the top of the blog posts list
- all filters should be html5 select elements
- number of blog posts per page: options should be:
  *\* 5/10/15/20
- filter

[2015-12-04 09:20] jholze commented on #20
@fshahy are you done ? if yes assign the ticket to @kaerdsar or @rruebner to start the review

[2015-12-04 19:04] ghost commented on #20
What has been done so far:
1- Removed **/shop/product/** from url, now products are displayed as domain.com/**TShirt-2**. The appended ID (slugify) still exist.
2- **/shop/category/** replaced with **/category/**, the reason: ambiguity that occurs in defining 2 routes:
**model("product.public.category"):category**
**model("product.template"):product**

any idea?

[2015-12-07 15:35] jholze commented on #52
@kaerdsar maybe a good task to finish a day :)

[2015-12-08 09:36] ghost commented on #20
Modifications made in slug:
1- Removed **ID** from the end.
2- Does not change letter cases, just replace spaces with underscore **_** like domain.com**/Mouse_PS2**
Category URLs are build like domain.com**/Category/Cats/Cat1**.
What remains: handling the categories route mentioned above.

[2015-12-08 09:53] ghost commented on #20
'
![catone](https://cloud.githubusercontent.com/assets/7608808/11652753/cd064a90-9dae-11e5-9806-fbb1dfe0400f.png)
![cats](https://cloud.githubusercontent.com/assets/7608808/11652759/d2980c82-9dae-11e5-8d77-0337c10c6ba9.png)
![mousps2](https://cloud.githubusercontent.com/assets/7608808/11652770/db4bc300-9dae-11e5-983d-fded29712b40.png)
![shop](https://cloud.githubusercontent.com/assets/7608808/1165

[2015-12-11 14:56] jholze commented on #20
some changes here ?

[2015-12-15 16:18] ghost commented on #20
because of werkzeug rule definition, decided to display categories like:
domain.com/**category/men**
domain.com/**category/pants**
domain.com/**category/short_pants**

[2015-12-16 06:50] ghost commented on #20
@kaerdsar please do a review.

[2015-12-16 07:59] rruebner opened #53 "Translation doesn’t work the same way like in runbot v9"
# Problem

The translation doesn’t work the same way like in runbot v9.
# Steps to reproduce
- create a new database with language german and with demo data
- install the blog module
- go to a blog post page in the frontend, change to the second language and click on the translate button:
  - the green markers are missing
  - the main navigation labels can’t be translated
  - the blog title and su

[2015-12-16 08:05] rruebner opened #54 "Changes of the SEO url of blog.blog in frontend won’t be applied"
# Problem

If you change the SEO url of blog.blog in frontend the changes won’t be applied in the view and bot in the menu.
# Steps to reproduce
- create a new database with demo data
- install the website_seo_blog module
- go to a blog (blog.blog) page in the frontend, open the promote panel, change the SEO url and save:
  - the promote panel is closed
  - you see a 404 page
  - the SEO url is no

[2015-12-17 09:48] rruebner opened #55 "Server error occurs when trying to change the SEO url on the contact page in the promote panel"
# Problem

If you try to change the SEO url on the contact page in the promote panel a server error occurs.
# Steps to reproduce
- create a new database with language german and with demo data
- install the website_seo module
- activate the developer mode
- go to Settings -> Translations -> Languages and set the "Short code" to "en" for the "English" entry
- go to Website Admin -> Configuration an

[2015-12-17 09:57] jholze commented on #55
@kaerdsar maybe good to know that the issue occurs on the latest v9 state, since you updated the supernova to the latest version.

[2015-12-17 09:57] rruebner opened #56 "Meta and robots information won't be saved in promote panel on home page"
# Problem

If you try to change meta or robots information in the promote panel on the home page you will get a SEO url validation error.
# Steps to reproduce
- create a new database with language german and with demo data
- install the website_seo module
- activate the developer mode
- go to Settings -> Translations -> Languages and set the "Short code" to "en" for the "English" entry
- go to Web

[2015-12-17 09:58] jholze commented on #20
@fshahy move the ticket to code review state (pipeline) and link your pull request

[2016-01-12 22:55] ghost commented on #54
@rruebner Hi, would you please review the changes.

[2016-01-14 13:51] Fl0rianFischer opened #61 "Create contact form snippet for v9"
## Description

We want to create an Addon for the odoo v9 that provides a dynamic contact form to create leads in the backend. The addon must be draggable onto the page and create the lead in the right place in the backend.
## Criteria
- create odoo addon shell
- provide the following input fields
  - Name
  - Email
  - Telephone number
  - Optional: Textinput (optional: nth)
- Implement common s

[2016-01-14 13:56] parthivgls commented on #61
almost similar to v9 form builder? except backbone JS part.
On 14 Jan 2016 7:21 pm, "Fl0rianFischer" notifications@github.com wrote:

[2016-01-14 13:57] Fl0rianFischer commented on #61
I didn't consider this. Will look at it. Thanks!

[2016-01-14 13:59] Fl0rianFischer commented on #61
The form builder is only available in enterprise. We would like to provide an addon for the community version as well.
It seems though like we can use the module website_form to do most of the work.

[2016-02-09 10:15] ghost commented on #52
@Fl0rianFischer Hi, would you please do some styling on dropdown menus.

[2016-02-09 14:53] rruebner opened #65 "English SEO url updates in promote panel leads to wrong redirects and 404 pages"
# Problem

If you change the english SEO url in the promote panel in the frontend there are wrong 301 redirects in the menu entry and the language switcher and possible 404 pages.
# Steps to reproduce
- create a new database with language german and with demo data
- install the website_seo module
- activate the developer mode
- go to Settings -> Translations -> Languages and set the "Short code" t

[2016-02-09 16:36] jholze commented on #65
@fshahy can you do this ticket ? would be helpful, because we want to deploy the first version to OCA as soon as possible

[2016-02-11 08:48] ghost commented on #65
@rruebner in steps to reproduce (6th step) when trying to change SEO URL of kontakt page and save, the window does not save and stays open. I am using latest V9 and tried with Firefox and Chrome on Ubuntu.
(It happens when I create a DB with demo data, in a DB without demo data it is ok.)

[2016-02-12 16:15] ghost opened #66 "Error in Synchronize Terms after installing SEO module"
## Problem

On a fresh database after installing module **web_seo** running Synchronize Terms.
## Steps to reproduce

1- Create a new database with German language.
2- Install Website Builder module.
3- Activate developer mode.
4- Run Synchronize Terms (German or English does not matter) it runs with no error.
3- Install website_seo module, go to back-end and run Synchronize Terms (language is not

[2016-02-15 11:33] ghost commented on #56
Merged PR #59

[2016-02-15 11:33] #56 closed, assigned to kaerdsar

[2016-02-15 13:25] #55 closed, assigned to nobody

[2016-02-22 11:16] ghost commented on #66
I think this issue is related to translation of computed fields:
https://github.com/odoo/odoo/issues/3673
https://github.com/odoo/odoo/issues/3745
and its related PR is not merged yet:
https://github.com/odoo/odoo/pull/9081

[2016-02-28 06:52] maricarlortiz opened #69 "Error after installing on odoo 8 Internal Server Error"
After loading this on the addon, I install the SEO module but I was redirected to internal server error

I look at the log and see this:

Now I cannot access my site. Could someone help me how to fix this?

[2016-04-26 00:17] rowemoore commented on #20
Is there a reason (werkzeug) that forward slashes are not allowed?

If they were it would be a wonderful addition and an easy way to migrate websites to Odoo without writing hundreds of 301 redirects.

[2016-05-25 19:59] LiberTang0 opened #70 "Website_Compress_html"
I have an error when i create a database or open a database where website_compress_html is present in the addons folder:

[code]

[2016-05-26 07:16] christophlsa commented on #70
@LiberTang0 Which Odoo version do you use?

[2016-05-27 00:43] LiberTang0 commented on #70
V 8.0:

Metadata-Version: 1.1
Name: odoo
Version: 8.0-20160517

[2016-12-07 16:05] #33 closed, assigned to kaerdsar

[2016-12-07 16:05] #35 closed, assigned to kaerdsar

[2016-12-07 16:05] #34 closed, assigned to kaerdsar

[2017-04-04 02:36] alex-magebinary opened #74 "Odoo 8.0 website_seo homepage redirect"
About the website_seo app on Odoo 8.0, is there a way to redirect the homepage:
http://localhost:8069/page/homepage
to
http://localhost:8069

We don't want google index url http://localhost:8069/page/homepage, make it looks like a fake homepage.